body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  } 

   .fa-book-open {
    font-size: 20px;
    padding-right: 10px;
  }

  .fa-arrow-right-from-bracket {
    font-size: 16px;
  }

footer {
    margin-top: 20px;
  }

.story-text {
  height: 100px;
} 

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

