<h1>Welcome!</h1>
<p>Welcome to Tales 1.0.0</p>
<p>Post your life's highs and lows, and decide whether you want the entire world to read them
    or keep them fully private as your own personal journal.</p>
   {{#if user}}

   {{else}}
   <a class="btn red darken-1" href="/auth/google"><i class="fa-brands fa-google left"></i>
    Login With Google
   </a>
   {{/if}}